* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.btn-main {
    background-color: #990100;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-main:hover {
    background-color: #b90504;
    color: #f6f6f6;
}